@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --typed_chars: 6;
  --col_correct: #F7B931;
  --col_typo: #FF4D4D;
  --col_untyped: #0F1211;
  --typer_lines: 8;
  --primary_text: hsl(30 100 35);
  --chorded_text: hsl(60 100 35);
  --rubricated_text: hsl(0 100 35);
  --background: hsl(0 0 90);

  font-family: "Atkinson Hyperlegible Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
  font-synthesis: none;
  color: #C8C8DA;
  text-rendering: optimizeLegibility;

  /* background-color: #5D7A6F; */
  background-color: var(--background);

  --char-unit: 1.05em;
  -webkit-font-smoothing: antialiased;
  /* -moz-osx-font-smoothing: grayscale; */
}

.app-grid {
  --padding-inline: 1em;
  --core-max-width: 60ch;

  display: grid;
  grid-template-columns: [full-width-start] minmax(var(--padding-inline), 1fr) [core-start] min(100% - (var(--padding-inline) * 2), var(--core-max-width)) [core-end] minmax(var(--padding-inline), 1fr) [full-width-end];
  grid-template-rows: [above-start] calc(50vh - var(--typer_lines) / 2 * 1lh) [above-end typer-start] calc(var(--typer_lines) * 1lh) [typer-end under-start];

  /* * { */
  /* outline: solid; */
  /* } */
}

#text-gen {
  /* display: grid; */
  grid-column: core;
  grid-row: above;
  /* width: 100%; */
}

/* footer { */
/* position: fixed; */
/* bottom: 0; */
/* justify-self: center; */
/* } */

.app-grid>footer {
  display: grid;
  grid-row: under;
  grid-column: core;
  justify-self: center;
}

#typer {
  display: grid;
  grid-row: typer;
  outline: solid;
  position: relative;
  grid-template: inherit;
  grid-column: full-width;

  dialog[open] {
    display: grid;
    position: absolute;
    width: 100%;
    height: 100%;
    grid-column: full-width;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px) contrast(70%) drop-shadow(15px 0px gray);

    * {
      place-self: center;
    }
  }

}

#typer-display {
  overflow-y: scroll;
  white-space: pre-wrap;
  text-wrap-style: stable;
  position: relative;
  height: 8lh;
  scrollbar-width: none;
  grid-column: core;
  padding-top: 0.4em;
  scroll-padding-top: 0.4em;
}

char {
  color: var(--primary_text);
  margin: 0px;
  padding: 0px;
  opacity: 0.4;
  transition: all 0.1s ease;
  
  &.typo {
    color: var(--rubricated_text);
    &[data-typed=" "] {
      background-color: var(--rubricated_text);
    }
  }

  &.correct {
    opacity: 0.8;

    &.chorded {
      color: var(--chorded_text)
    } 
  }
}


kbd>key {
  border-radius: 3px;
  padding: 0px 1px;
  border: 1px solid black;
  margin-inline: 1px;
}
