@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --typed_chars: 6;
  --col_correct: #F7B931;
  --col_wrong: #FF4D4D;
  --col_untyped: #0F1211;

  font-family: "Atkinson Hyperlegible Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
  font-synthesis: none;
  color: #C8C8DA;
  text-rendering: optimizeLegibility;

  background-color: #5D7A6F;

  --char-unit: 1.05em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-grid {
  --padding-inline: 1em;
  --core-max-width: 60ch;

  display: grid;
  grid-template-columns: minmax(var(--padding-inline), 1fr) [core-start] min(100% - (var(--padding-inline) * 2), var(--core-max-width)) [core-end] minmax(var(--padding-inline), 1fr);
  grid-template-rows: 60vh [typer-start];
}

#typer {
  grid-row: typer;
  outline: solid;
}

.app-grid>* {
  outline: solid;
  grid-column: core;
  display: grid;
  grid-template: subgrid;
}

kbd>key {
  border-radius: 3px;
  padding: 0px 1px;
  border: 1px solid black;
  margin-inline: 1px;
}

button {
  cursor: pointer;
}